<html>
    {%load mytags%}
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>
            {%block title_block%}
            {%endblock%}
        </title>
    </head>
    <body>
        <div class="content" style="width:60%;float:left;background-color:rgba(200, 255, 0, 0.904);height:300%;padding:0 0 0 30px">
            {%block content_block%}
            {%endblock%}
        </div>
        <div class="sidebar" style="width:40%;float:right;background-color:rgb(255, 0, 34);height:300%;padding:20px">
            <h2>Sushma's Blog</h2>
            <h3>Total number of publications
                <span style="color:blue;font-size:40px">
                {%total_posts%} </span>
                <h3>Newly Added Posts</h3>
                {%show_latest_posts 2%}
                <h3>Most Commented Posts</h3>
                {%get_most_commented_posts as m%}
                <ol>
                    {%for post in m%}
                    <li>
                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                    </li>
                    {%endfor%}
                </ol>      
            </h3>
        </div>
    </body>
</html>